html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    height: 5rem;
}
#logo{
    height: 100%;
    width: auto;
}
.bottom{
    display: flex;
    flex-direction: row;
    top: 5rem;
    flex: 1;
}
.left{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.listType{
    height: 4rem;
}
.list{
    flex: 1;
    top: 4rem;
}
#friends,#teams{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.talker,.team{
    display: flex;
    flex-direction: row;
    height: 3.8rem;
    padding-top: 0.3rem;
}
.talkerAvatar,.teamAvatar{
   flex: 3;
}
.talkerAvatarImage,.teamAvatarImage{
    height: 3rem;
    cursor: pointer;
}
.talkerInfo,.teamInfo{
    flex: 14;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.talkerBase,.teamBase{
    display: flex;
    flex-direction: row;
    flex:1
}
.talkerName,.teamName{
    flex: 3;
    font-size: large;
}
.talkerSign,.teamNotice{
    flex: 7;
    color: lightgray;
}
.talkerMessage,.teamMessage{
    display: flex;
    flex-direction:row;
    flex:1
}
.msgType{
    flex: 1;
}
.msgInfo{
    flex: 11;
}
.extend{
    display: flex;
    flex-direction: column;
    margin-top: -0.3rem;
    flex: 3;
}
.deleteTalker,.msgPoint,.none,.quitTeam{
    flex: 1;
}
.deleteTalker,.quitTeam{
    display: flex;
    flex-direction: row;
}
.del{
    flex: 1;
}
.right{
    flex: 15;
}
.msgNum{
    cursor: pointer;
}
.content{
    height: 80%;
    overflow-y: auto;
}
.text_message{
    height: auto;
}
.text_message_content{
    padding:0.5rem;
    margin-top :0.5rem;
    font-size: 1.5rem;
    width: fit-content;
    max-width: 55rem;
}
.text_message_content_left{ 
    margin-left: 3rem;
    float: left;
}
.text_message_content_right{
    margin-right: 3rem;
    float: right;
}
.image_message{
    height: 8rem;
}
.image_message_content{
    margin-top:0.5rem;
    height: 7.5rem;
    width: auto;
}
.image_message_content_left{
    margin-left: 3rem;
    float: left;
}
.image_message_content_right{
    margin-right: 3rem;
    float: right;
}
.file_message{
    height: 6rem;
}
.file_message{
    font-size: 5.5rem;
    margin-top:0.5rem ;
}
.file_message_content_left{
    margin-left:3rem ;
    float:left;
}
.file_message_content_right{
    margin-right:3rem ;
    float:right;
}
.operate{
    height: 20%;
}
