html,body{
    height: 100%;
}
.top{
    height: 10%;
}
.bottom{
    height:90%;
}
.user{
    height: 3.8rem;
    padding-top: 0.3rem;
}
.user_avatar{
    height: 3rem;
    cursor: pointer;
}
.user_info{
    cursor: pointer;
}
.user_name{
    font-size: large;
}
.user_sign{
    color: lightgray;
}
.user_delete{
    margin-top: -0.3rem;
}
.msg_num{
    cursor: pointer;
}
.content{
    height: 80%;
}
.operate{
    height: 20%;
}
